// ---------------------------------------
// Blog Lister
// ---------------------------------------
.fusion-blog-layout-grid {
    // Reset wrapper bg and border
    .fusion-post-wrapper {
        border: none;
        position: relative;
        background-color: red !important;
    }
    .fusion-post-slideshow {
        border: none;
    }
    // Image Styles
    .fusion-image-wrapper {
        &:after {
            @include content-block();
            @include sprite();
            @include absolute(left 0 right 0 bottom 0);
            background-position: 0 0;
            background-repeat: repeat-x;
            height: 6px;
            z-index: 2;
        }
    }
    // Content
    .fusion-post-content-wrapper {
        background-color: $white;
        text-align: center;
        padding-bottom: 10px;
        .fusion-single-line-meta {
            @include absolute(top 0 left 0);
            @include verveine;
            z-index: 2;
            background: $green;
            color: $white;
            padding: 2px 15px;
            text-transform: uppercase;
            font-size: 18px;
            .fusion-inline-sep {
                display: none;
            }
        }
    }
    .blog-comment {
        color: $orange;
        font-size: 16px;
        line-height: 20px;
        a,
        a:hover {
            color: $white;
            @include verveine();
        }
    }
}

// ---------------------------------------
// Blog Article
// ---------------------------------------
.single-post {
    #main {

        .blog-image-content {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0 10%;
            z-index: 4;
            text-align: center;
        }
        .entry-title {            
            color: #fff;
            text-transform: uppercase;
            font-size: 72px !important;
        }
        .post {
            background-color: #fff;
        }
        .single-navigation {
            border: none;
            margin-bottom: 20px;
        }
        .wrap-bg {
            @include absolute(top 0 left 0 bottom 0 right 0);
            display: block;
            z-index: 3;
            background: -moz-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(99%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.75)));
            background: -webkit-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -o-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -ms-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            
            &:after {
                @include content-block();
                @include sprite();
                @include absolute(left 0 right 0 bottom -13px);
                @include rotate(1deg);
                background-position: 0 -60px;
                background-repeat: repeat-x;
                height: 25px;
            }
        }
        // Blog Author
        .blog-author {
            @include font-proxima();
        }
        .avatar{
            @include border-radius(50%);
            margin-right:5px
        }
        .fusion-title,
        .avatar {
            @include inline-block-middle();
            margin-bottom: 0 !important;
        }
        .title-sep-container {
            display: none;
        }
    }
}


