// ---------------------------------------
// Blog Lister
// ---------------------------------------
.fusion-blog-layout-grid {
    // Reset wrapper bg and border
    .fusion-post-grid {
    &:before {
            @include content-block();
            @include absolute(left 13px right 7px bottom 8px);
            @include rotate(-1.3deg);
            background-color: #b4bfc3;
            height: 180px;
        }
    }
    .fusion-post-wrapper {
        border: none;
        position: relative;        
    }
    .fusion-post-slideshow {
        border: none;
    }
    // Image Styles
    .fusion-image-wrapper {
        &:after {
            @include content-block();
            @include sprite();
            @include absolute(left 0 right 0 bottom 0);
            background-position: 0 0;
            background-repeat: repeat-x;
            height: 6px;
            z-index: 2;
        }

        img {
            @include transition(all 0.3s ease);
        }
        &:hover{img {
             @include scale(1.05);
        @include filter(brightness, 80%);
        }}
        
    }

    // Content
    .fusion-post-content-wrapper {
        background-color: $white;
        text-align: center;
        padding-bottom: 10px;
        z-index: 2;
        .fusion-inline-sep {
            display: none;
        }

    }
    .blog-comment {
        color: $orange;
        font-size: 16px;
        line-height: 20px;
        a,
        a:hover {
            color: $white;
        }
    }
}

// ---------------------------------------
// Blog Article
// ---------------------------------------

.single-post {
    #main {
        p {
            font-size: 18px;
            line-height: 30px;
        }

        .post {
            background-color: #fff;
            position: relative;
        }
        
        .wrap-bg {
            @include absolute(top 0 left 0 bottom 0 right 0);
            display: block;
            z-index: 3;
            background: -moz-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(99%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.75)));
            background: -webkit-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -o-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -ms-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            
            &:after {
                @include content-block();
                @include sprite();
                @include absolute(left 0 right 0 bottom -13px);
                @include rotate(0.9deg);
                background-position: 0 -60px;
                background-repeat: repeat-x;
                height: 25px;
            }
        }
        .blog-image-content {
            position: absolute;
            bottom: 55px;
            width: 100%;
            padding: 0 10%;
            z-index: 4;
            text-align: center;
        }
        // Blog Title
        .entry-title {            
            color: #fff;
            text-transform: uppercase;
            font-size: 72px !important;
            margin-bottom: 15px;
        }
        // Navigation
        .single-navigation {
            border: none;
            margin-bottom: 20px;
            a[rel~="prev"]{
                float:left;
            }
            a[rel~="next"]{
                float: right;
            }

        }
        // Blog Author
        .blog-author {
            h3{
                @include font-proxima();
                font-size: 16px;
                color: #8c9495;
                a {
                    color: $green;
                    text-decoration: underline;
                }
            }
        }
        .avatar{
            @include border-radius(50%);
            margin-right:5px
        }
        .fusion-title,
        .avatar {
            @include inline-block-middle();
            margin-bottom: 0 !important;
        }
        .title-sep-container {
            display: none;
        }
        //  Content
        .post-content {
            padding: 10px 30px;
            h2,h3,h4,p{
                margin: 30px 0;
            }
            img {
                margin-left: -80px;
                margin-top:10px;
                margin-bottom:10px;
                max-width: 760px;
            }
        }

        // Meta Info

        .fusion-meta-info {
            border: none;
        }

        .fusion-meta-info {
            float:left;
        }
        .fusion-comments {
            color: $orange;
            display: block;
            font-size: 16px;
            line-height: 20px;
            margin-left: 40px;
            margin-top:20px;
            a,
            a:hover {
                color: $white;
            }
        }

        // Comments

        .comment-respond {
            background-color: $v-light-grey;
            position: relative;
            padding-top:60px;
            padding-bottom:60px;
            &:after {
                @include content-block();
                @include sprite();
                @include absolute(left 0 right 0 top -13px);
                @include rotate(180.9deg);
                background-position: 0 -60px;
                background-repeat: repeat-x;
                height: 25px;
            }
            .fusion-title {
                float:left;
                margin-bottom:20px !important;
            }
            .logged-in-as {
                font-size: 16px;
                line-height: 25px;
                float: right;
                padding-top: 14px;
                margin-top: 0;
                a:last-child {
                    display: none;
                }
            }


        }

        .fusion-inline-sep {
            display:none;
        }
    }
}

// BLOG DATE

.fusion-post-content-wrapper .fusion-single-line-meta, 
.fusion-meta-info span:nth-child(3) {
    @include absolute(top 0 left 0);
    @include sprite;
    @include verveine;
    background-position: right -90px;
    color: $white;
    font-size: 18px;
    padding: 2px 20px 4px 15px;
    text-transform: uppercase;
    z-index: 2;
}

// WRAP

.wrap {
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
}

