// ---------------------------------------
// Blog Lister
// ---------------------------------------
.fusion-blog-layout-grid {
    // Reset wrapper bg and border
    .fusion-post-grid {
        &:before {
            @include content-block();
            @include absolute(left 13px right 7px bottom 8px);
            @include rotate(-1.3deg);
            background-color: #b4bfc3;
            height: 180px;
        }
    }
    .fusion-post-wrapper {
        border: none;
        position: relative;
    }
    .fusion-post-slideshow {
        border: none;
    }
    // Image Styles
    .fusion-image-wrapper {
        &:after {
            @include content-block();
            @include sprite();
            @include absolute(left 0 right 0 bottom 0);
            background-position: 0 0;
            background-repeat: repeat-x;
            height: 6px;
            z-index: 2;
        }
        img {
            @include transition(all 0.3s ease);
        }
        &:hover {
            img {
                @include scale(1.05);
                @include filter(brightness, 80%);
            }
        }
    }
    // Content
    .fusion-post-content-wrapper {
        background-color: $white;
        text-align: center;
        padding-bottom: 10px;
        z-index: 2;
        .fusion-inline-sep {
            display: none;
        }
    }
    .blog-comment {
        color: $orange;
        font-size: 16px;
        line-height: 20px;
        a,
        a:hover {
            color: $white;
        }
    }
}

// ---------------------------------------
// Blog Article
// ---------------------------------------
.single-post {
    .post {
        position: relative;
        &:before {
            @include content-block();
            @include absolute(left 10px right -3px bottom 0px);
            @include rotate(-1deg);
            background-color: #b4bfc3;
            height: 300px;
        }
    }
    #main {
        
        .post {
            background-color: #fff;
            position: relative;
        }
        .wrap-bg {
            @include absolute(top 0 left 0 bottom 0 right 0);
            display: block;
            z-index: 3;
            background: -moz-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(99%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.75)));
            background: -webkit-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -o-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: -ms-linear-gradient(top, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0.75) 100%);
            &:after {
                @include content-block();
                @include sprite();
                @include absolute(left 0 right 0 bottom -13px);
                @include rotate(0.9deg);
                background-position: 0 -60px;
                background-repeat: repeat-x;
                height: 25px;
            }
        }
        .blog-image-content {
            position: absolute;
            bottom: 55px;
            width: 100%;
            padding: 0 10%;
            z-index: 4;
            text-align: center;
            @media only screen and (max-width: 800px) {
                padding: 0 20px;
                bottom: -45px;
            }
        }
        // Blog Title
        .entry-title {
            color: #fff;
            text-transform: uppercase;
            font-size: 72px !important;
            margin-bottom: 15px;
            @media only screen and (max-width: 800px) {
                font-size: 42px !important;
                line-height: 45px;
                margin-bottom: 50px;
                padding-left:10px;
                padding-right:10px;
            }
            @media only screen and (max-width: 568px) {
                font-size: 36px !important;
                line-height: 35px;
            }
        }
        // Navigation
        .single-navigation {
            border: none;
            a {
                color: $text-color;
                @include verveine();
                font-size: 22px;
                margin: 0;
                &:after,
                &:before {
                    content: '';
                    @include sprite();
                    width: 30px;
                    height: 30px;
                    margin: 0;
                    padding: 0;
                }
                &:hover {
                    color: $blue;
                }
            }
            a[rel~="prev"] {
                float: left;
                padding-left: 42px;
                &:before {
                    left: 0;
                    background-position: -35px -150px;
                }
                &:hover {
                    &:before {
                        background-position: -105px -150px;
                    }
                }
            }
            a[rel~="next"] {
                float: right;
                padding-right: 42px;
                &:after {
                    right: 0;
                    background-position: 0 -150px;
                }
                &:hover {
                    &:after {
                        background-position: -70px -150px;
                    }
                }
            }
        }
        // Blog Author
        .blog-author {
            h3 {
                @include font-proxima();
                font-size: 16px;
                color: #8c9495;
                a {
                    color: $green;
                    text-decoration: underline;
                }
            }
        }
        .avatar {
            @include border-radius(50%);
            margin-right: 5px
        }
        .blog-image-content .fusion-title,
        .avatar {
            @include inline-block-middle();
            margin-bottom: 0 !important;
        }
        .title-sep-container {
            display: none;
        }
        //  Content
        .post-content {
            padding: 10px 0;
            
            img {
                margin-top: 10px;
                margin-bottom: 10px;
                @media screen and (min-width: 860px) {
                    margin-left: -80px;
                    max-width: 760px;
                }
            }
        }
        // Meta Info
        .fusion-meta-info {
            border: none;
        }
        .fusion-meta-info {
            float: left;
        }
        .fusion-comments {
            color: $orange;
            display: none;
            @media screen and (min-width: 1025px) {
                display: block;
            }
            font-size: 16px;
            line-height: 20px;
            margin-left: 40px;
            margin-top: 20px;
            a,
            a:hover {
                color: $white;
            }
        }
        // Comments
        .comments-container,
        .comment-respond {
            background-color: $v-light-grey;
            position: relative;
            padding-top: 70px;
            &:after {
                @include content-block();
                @include sprite();
                @include absolute(left 0 right 0 top -13px);
                @include rotate(180.9deg);
                background-position: 0 -60px;
                background-repeat: repeat-x;
                height: 25px;
            }
        }
        // Main Comments 
        .comments-container {
            .comment-list {
                margin-bottom: 40px;
            }
            .the-comment,
            .fusion-title {
                position: relative;
                border-bottom: none;
                margin-bottom: 25px !important;
                &:after {
                    @include content-block();
                    @include sprite();
                    @include absolute(left 0 right 0 bottom 0);
                    background-position: 0 -50px;
                    background-repeat: repeat-x;
                    height: 2px;
                }
            }
            .fusion-title {
                padding-bottom: 25px;
            }
            .comment-author,
            .comment-text {
                margin-left: 70px;
            }
            .comment-text {
                p {
                    font-size: 16px;
                    line-height: 1.5625;
                }
            }
        }
        // Comments Form
        .comments-container + .comment-respond {
            margin-top: 0;
            padding-top: 0;
            &:after {
                display: none;
            }
        }
        .comment-respond {
            padding-bottom: 70px;
            .fusion-title {
                float: left;
                margin-bottom: 20px !important;
            }
            .logged-in-as {
                font-size: 16px;
                line-height: 25px;
                float: right;
                padding-top: 14px;
                margin-top: 0;
                a:last-child {
                    display: none;
                }
            }
        }
        .fusion-inline-sep {
            display: none;
        }
    }
}

// BLOG DATE
.fusion-post-content-wrapper .fusion-single-line-meta,
.fusion-meta-info span:nth-child(3) {
    @include absolute(top 0 left 0);
    @include sprite;
    @include verveine;
    background-position: right -90px;
    color: $white;
    font-size: 18px;
    padding: 2px 20px 4px 15px;
    text-transform: uppercase;
    z-index: 2;
}
