// ---------------------------------------
// Placeholder
// ---------------------------------------
%input-bg {
    @include border-radius(5px);
    border: 2px solid #d7e1e5;
    background-color: $white;
}

%input-style {
    @extend %input-bg;
    font-size: rem(16);
    -webkit-appearance: none;
    height: rem(50);
    width:100%;
    color: $light-text-color;
    padding:rem(15);
    outline: none;
    &:focus,
    &:hover {
        border-color: $blue;
    }
}

// ---------------------------------------
// FORMS
// ---------------------------------------
input,
textarea {
    @include proxima();
}

// ---------------------------------------
// Input Styles
// ---------------------------------------
#wrapper {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    textarea,
    #comment-textarea textarea,
    select,
    .styled-select,
    .input-css {
        @extend %input-style;
    }
    textarea,
    #comment-textarea textarea {
        height: 150px;
    }
}
