// ---------------------------------------
// Placeholder
// ---------------------------------------
%input-bg {
    @include border-radius(5px);
    border: 2px solid #d7e1e5;
    background-color: $white;
}

%input-style {
    @extend %input-bg;
    font-size: rem(16);
    -webkit-appearance: none;
    height: rem(50);
    margin-bottom: rem(10);
    width: 100%;
    color: $light-text-color;
    padding: rem(15);
    outline: none;
    &:focus,
    &:hover {
        border-color: $blue;
    }
}

// ---------------------------------------
// FORMS
// ---------------------------------------
input,
textarea {
    @include proxima();
}

// ---------------------------------------
// Input Styles
// ---------------------------------------
#wrapper {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=date],
    textarea,
    #comment-textarea textarea,
    select,
    .styled-select,
    .input-css {
        @extend %input-style;
    }
    textarea,
    #comment-textarea textarea {
        height: 150px;
    }
}

// ---------------------------------------
// Contact Form
// ---------------------------------------
div.wpcf7 {
    @include proxima-semibold();
    margin: 0 auto;
    max-width: 640px;
    padding:0 20px;
    color: $white;

    .wpcf7-form-control-wrap {
        padding-top: 10px;
        display: block;
        @include proxima();
    }
    // Errors
    span.wpcf7-not-valid-tip {
        color: $white;
        font-size: 1em;
        background: $red;
        display: block;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 4px;
        margin-top:5px;
        position: relative;
        &:after {
            @include absolute(top -10px left 10px);
            @include triangle(10px, #ce2d26);

        }
    }
    .wpcf7-validation-errors {
    display:none !important;
    }
}



