// ---------------------------------------
// Header
// ---------------------------------------
.fusion-header {
    position: relative;
    background-color: rgba(0, 12, 12, 0.54) !important;
    &:after {
        @include content-block();
        @include sprite();
        @include absolute(left 0 right 0 bottom -6px);
        background-position: 0 -20px;
        background-repeat: repeat-x;
        height: 6px;
    }
    h2,
    h3 {
        color: $white;
    }
    h2 {
        font-family: Berthold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 25px;
        line-height: 1;
        margin-top: 17px;
        margin-bottom: 6px;
        letter-spacing: .02em;
    }
    h3 {
        font-size: 14px;
        line-height: 1.429;
        margin-bottom: 0;
        opacity: .8;
        letter-spacing: .06em;
        text-transform: uppercase;
    }
    .fusion-main-menu a {
        @include opacity(50);
        color: #fff;
    }
    .fusion-main-menu > ul > li > a,
    .fusion-main-menu > ul > li > a:hover {
        text-transform: uppercase;
        border-color: transparent;
    }
    .fusion-main-menu > ul > li:nth-child(even) {
        float: right;
    }
    .fusion-main-menu > ul > li {
        padding-right: 7.5%;
        padding-left: 7.5%;
    }
    // Responsive
}

// Menu hover and active states
.fusion-main-menu .current_page_item > a,
.fusion-main-menu > ul > li > a:hover,
.single-post .menu-item-home a {
    position: relative;    
    @include opacity(100);
    &:after {
        @include content-block();
        @include sprite();
        @include absolute(left 0 right 0 top -3px);
        background-position: 0 -90px;
        height: 3px;
    }
}

#wrapper {
    .fusion-header-wrapper {
        position: absolute;
        width: 100%;
    }
    .fusion-header {
        .fusion-logo {
            float: none;
            @include absolute(left 50%);
            margin-left: -150px !important;
            width: 300px;
            text-align: center;
            z-index: 1;
        }
        .fusion-main-menu {
            width: 100%;
            @media only screen and (max-width: 1024px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        @media only screen and (max-width: 800px) {
            padding-top: 0 !important;
            height: 40px;
            .fusion-logo {
                margin-left: -125px !important;
                width: 250px;
            }
            img {
                width: 55px;
            }
            h2 {
                margin-top: 12px;
                font-size: 20px;
            }
            h3 {
                font-size: 12px;
                letter-spacing: 0;
            }
            .fusion-mobile-menu-icons {
                @include absolute(top 10px right -20px);
                z-index: 2;
                a:before {
                    color: $white;
                    font-size: 22px;
                }
            }
            .fusion-mobile-nav-holder {
                @include absolute(top 0 left 0 right 0);
                padding-top: 40px;
                padding-bottom: 30px;
                background-color: $blue;
                z-index: 1;
                &:before {
                    @include content-block();
                    @include absolute(left 0 right 0 bottom -1024px);
                    height: 1024px;
                    background-color: rgba(0, 12, 12, .7);
                }
                &:after {
                    @include content-block();
                    @include absolute(left 0 right 0 bottom -6px);
                    @include sprite();
                    @include rotate(180deg);
                    height: 6px;
                    background-repeat: repeat-x;
                    background-position: 0 -40px;
                }
                .fusion-menu {
                    border: none;
                    a {
                        @include berthold();
                        color: #fff;
                        font-size: 16px;
                        background-color: transparent;
                        border: none;
                        height: 50px;
                        line-height: 50px;
                        text-transform: uppercase;
                        span {
                            display: block;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

// Opening Banner
.opening-banner {
    @include absolute(top 12px left -108px);
    @include transform(rotate(-37.5deg));
    width: 300px;
    padding: 5px;
    background-color: $green;
    text-align: center;
    z-index: 10011;
    &:after,
    &:before {
        @include content-block();
        @include absolute(left 0 right 0 bottom -6px);
        @include sprite();
        height: 6px;
        background-repeat: repeat-x;
        background-position: 0 -10px;
    }
    &:before {
        bottom: auto;
        top: -6px;
        @include rotate(180deg);
    }
    @media only screen and (max-width: 1200px) {
        @include transform(scale(.79) rotate(-40deg));
        left: -118px;
        top: 3px;
        &:after {
            bottom: -5px;
        }
        &:before {
            top: -5px;
        }
    }
    h2 {
        @include berthold();
        color: $white;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
    }
    span {
        @include verveine();
        display: block;
        font-size: 22px;
    }
}
