%icon {
	@include sprite;
	@include hide-text;
	display:inline-block;
	width: 30px;
	height: 30px;
}


.icon-social {
	@extend %icon;
	&:hover,
	&:focus {
		opacity: .6;
	}
}

.icon-social--youtube {
	background-position: 0px -110px;
}
.icon-social--facebook {
	background-position: -35px -110px;
}
.icon-social--twitter {
	background-position: -70px -110px;

}