%icon {
	@include sprite;
	@include hide-text;
	display:inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
}

.icon-social {
	@extend %icon;	
}

.icon-social--youtube {
	background-position: 0px -110px;
}

.icon-social--facebook {
	background-position: -35px -110px;
}

.icon-social--twitter {
	background-position: -70px -110px;
}

.icon-wwt,
.icon-hlf {
	@extend %icon;
	height: 55px;
}

.icon-wwt {
	width:45px;
	background-position: -110px -190px;
}
.icon-hlf {
	width:100px;
	background-position: 0 -190px;
}

.icon--circle-orange {
	@include sprite;	
    @include verveine();
    color: $white;
	display:inline-block;
	font-size: 18px;
	width: 20px;
	height: 20px;
	background-position: -110px -110px;
	text-align: center;
}
