h1,
h2,
h3,
h4 {
    font-style: normal;
    font-weight: normal;
}

#main {
    p,
    li,
    dd,
    dt,
    th,
    td {
        font-size: 18px;
        line-height: 30px;
        @media screen and (max-width: 800px) {
            font-size: 16px;
            line-height: 25px;
        }
    }
    table {
    	border:1px solid #dae5e8;
    	border-top: 0;

    }
    th,
    td{
    	padding:15px 20px;
    	border:0;
    }

    th {
    	@include proxima-semibold();
        color: $white;
        background: $blue;
    }
    .table-1 tr:nth-child(even){
    background: $v-light-grey;
	}
}

.single-post #main .post-content,
.page-template-100-width #main .post-content {
    h2,
    h3,
    h4,
    ul,
    dl,
    table,
    p {
        margin: 30px 0;
        @media screen and (max-width: 800px) {
            margin: 25px 0;
        }
      &.intro {
            @include proxima-semibold();
            font-size: 20px;
            line-height: 30px;
            color: #1f2122;
            @media screen and (max-width: 800px) {
                font-size: 18px;
            }
        }
    }
    h2,
    h3,
    h4 {
      margin-top: 50px;
        @media screen and (max-width: 800px) {
            margin-top: 40px;
        }  
    }
    li, ul {
    	margin:0;
    	padding:0;
    }
    ul {
    	list-style: none;
    	padding-left: 30px;
    }
    li {
		padding-left: 20px;
		position: relative;
		&:after {
            @include content-block();
            @include sprite();
            @include absolute(left 0 top 11px);
            background-position: -140px -150px;
            height: 7px;
            width: 7px;
        }

    }
    
        
}
